@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: lightgrey
}

    body#login {
        font-family: 'Roboto', sans-serif;
        background: url('../assets/background.jpg') no-repeat center center fixed;
        background-size: cover;
    }

.card {
    height: 15vw;
}

.img-thumbnail {
    width: 100% height:15vw;
    object-fit: fill;
}
